*.log
.env
log.txt
tipitaka_xml_parser_log.txt

fragments.sqlite3

# build folders
/target
.cache/

# Emacs temp files
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
.projectile
TAGS

# Vim temp files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

.vscode/

# MacOS
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
